.action__menu{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1110px;
    width: 100%;
    background-image: url(/images/Mask.png);
}
.action__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 102px 0;
}
.action__box>h2{
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #FFFFFF;
    max-width: 415px;
}
.action__list{
    display: flex;
    align-items: center;
    gap: 18px;
}
@media screen and (max-width: 768px){
.action__box {
    flex-direction: column;
    row-gap: 40px;
}
}